*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  color: #1e293b;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 24px;
}
.nav-links a {
  text-decoration: none;
  color: #1e293b;
  font-size: 16px;
  transition: 0.3s;
}
.nav-links a:hover{
    color: #2563eb;
}
